.hero-overlay {
  position: relative;
  padding: 0 0;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: intro 0.3s both;
  animation-delay: 0s;
  animation-delay: 0.25s;
}

img[src*='#centereda'] { 
    display: block;
    margin: auto;
    width: 100%;
}
